.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#about") About
          li
            a(href="#contact") Contact
        form.pull-right(method="post", id="loginForm")
          input.input-small(id="username", type="text", name="User", placeholder="Username")
          input.input-small(id="password", type="password", name="Password", placeholder="Password")
          input.btn.primary(type="submit", value="Sign In")
        p#loginPrompt.pull-right.login-prompt
.container
  .hero-unit
    h1 BitTrade
    h2 mtGOX BTC DATA

    p Displaying market data from mtGOX BITCOIN EXCHANGE
    p
      a.btn.btn-primary.btn-large(href="#") Lean more >>
      h3 LAST TRADED PRICE :  1 BTC = $#{data.last}
      block content
  div.top
    
  div.container
    div.content
      div.span2
        table.table
          thead
            tr
              th Volume
              th Price
              th Price
              th Volume
          tbody
            each asks in data.asks
              tr
                td.nodata 
                td.nodata 
                td.ask.price $#{asks.price.toFixed(3)}
                td.ask #{asks.amount.toFixed(2)} BTC

            each bids in data.bids
              tr
                td.bid #{bids.amount.toFixed(2)} BTC
                td.bid.price $#{bids.price.toFixed(3)}
                td.nodata
                td.nodata 
  div.span8("style='height:200px;background:black;'")
    
  div.footer